# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.swp
*.swo
*~

# 编译输出
target/
build/
out/
bin/
*.jar
*.war
*.ear
*.zip
*.tar.gz

resources/application-dev.yml
resources/bootstrap-dev.yml
resources/application.yml
resources/bootstrap.yml

*-dev.yml
*-dev.yaml

logs/